h1,
h2,
h3,
h4,
h5 {
  font-family: "Anybody", cursive;
  color: rgb(32, 73, 69);
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

.top__sprite {
  width: 35%;
}

.bottom__sprite {
  bottom: 0;
  position: absolute;
  width: 40%;
}

nav img {
  width: 15%;
  height: 100%;
}

.navbar_button {
  background-color: rgb(60, 189, 150);
  color: white;
  font-size: 20px;
  padding: 5px 30px;
  border-radius: 10px;
}

.intro {
  width: 100%;
  height: 90vh;
  margin: 100px 0;
}
.intro .container {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.intro form .check {
  background-color: rgb(60, 189, 150);
  color: white;
  font-size: 20px;
  padding: 5px 30px;
  border-radius: 10px;
}

.intro__text {
  width: 60%;
}
.intro__text h1 {
  font-size: 70px;
  width: 100%;
  margin: 30px 0;
}
.intro__text .span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 500px;
  height: 120px;
  background-color: rgb(227, 249, 231);
  border: 5px solid rgb(60, 189, 150);
}
.intro__text .span h2 {
  font-size: 60px;
}
.intro__text p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  width: 70%;
  line-height: 40px;
  margin: 20px 0;
}

.intro__img img {
  position: absolute;
  top: 50px;
  right: 100px;
  top: 50px;
  z-index: -99;
  width: 45%;
}

.sponsor {
  width: 100%;
  height: 100px;
  background-color: rgb(227, 249, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.sponsor img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.how__works {
  width: 100%;
  height: 80vh;
}

.how__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  margin: 100px 0;
}
.how__header h1 {
  font-size: 54px;
  text-align: center;
}
.how__header p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  width: 90%;
}

.cards {
  height: 400px;
}

.card {
  border: none;
}
.card p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}
.card h2 {
  text-align: center;
  font-size: 24px;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
  background-color: rgb(60, 189, 150);
  border-radius: 20px;
  margin-top: 30px;
}
.card__img .bi {
  font-size: 64px;
}

.trucking {
  width: 100%;
  height: 80vh;
  position: relative;
}

.truck__sprite {
  width: 30%;
  position: absolute;
  z-index: -99;
  top: 100px;
}

.truck__sprite_2 {
  width: 13%;
  position: absolute;
  right: 0;
  top: -200px;
}

.trucking__content {
  height: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.trucking__content img {
  width: 100%;
}

.truck__text h1 {
  font-size: 40px;
  margin: 40px 0;
}
.truck__text p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.truck__text button {
  background-color: rgb(60, 189, 150);
  color: white;
  margin: 50px 0;
}

.our__special {
  width: 100%;
  height: 70vh;
  margin-top: 200px;
}

.our__card {
  border: none;
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(102, 230, 247, 0.548);
  padding: 50px 30px;
  border-radius: 20px;
}
.our__card h5 {
  font-size: 24px;
  line-height: 24px;
  color: black;
}
.our__card p {
  text-align: start;
  font-size: 16px;
}
.our__card .bi {
  font-size: 64px;
  color: rgba(54, 255, 47, 0.411);
}

.calculator {
  width: 100%;
  height: 600px;
  background-color: rgb(227, 249, 231);
  border-radius: 50px;
  padding: 50px 80px;
  position: relative;
  margin: 150px 0 50px 0;
}

.calculator__text h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
.calculator__text p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.calculator__text img {
  width: 25%;
  position: absolute;
  bottom: 0;
}

.calculator__form {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}
.calculator__form h1 {
  font-size: 28px;
  color: black;
}

.form__header {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  background-color: rgb(60, 189, 150);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.form__header .bi {
  font-size: 48px;
  color: white;
}

.follow {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.follow__text {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}
.follow__text p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 40px 0;
}
.follow__text button {
  background-color: rgb(60, 189, 150);
  color: white;
}

.follow__img img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
}

.costumer__header h1 {
  text-align: center;
  margin: 50px 0;
}
.costumer__header p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 100px;
}

.accordion-button {
  background: linear-gradient(90deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
}

.costumer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 100px;
  margin: 0 auto;
  background-color: #E3F9E7;
}
.costumer__content .bi-quote {
  color: rgb(32, 73, 69);
  font-size: 108px;
}
.costumer__content p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 50px 0;
}

footer p {
  font-size: 25px;
  opacity: 0.7;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}
footer .btn {
  background-color: rgb(60, 189, 150);
  color: white;
}

.copyright {
  border-top: 5px dotted grey;
  padding: 30px 0;
}
.copyright .col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.copyright .bi {
  font-size: 28px;
  margin-left: 10px;
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */