$btn-color: rgba(60, 189, 150, 1);
$anybody: 'Anybody', cursive;
$red-hat: 'Red Hat Text', sans-serif;
$text-color: rgba(32, 73, 69, 1);

@mixin buttons {
    background-color: $btn-color;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 10px;
}

@mixin dflex($jcc, $aic, $fwrap) {
    display: flex;
    justify-content: $jcc;
    align-items: $aic;
    flex-wrap: $fwrap;


}

@mixin p {
    font-size: 25px;
    opacity: .7;
    font-family: $red-hat;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

nav {
    & img {
        width: 15%;
        height: 100%;
    }
}

.navbar_button {
    @include buttons();

}

.intro {
    width: 100%;
    height: 90vh;
    margin: 100px 0;

    & .container {
        height: 100%;

        @include dflex(start, center, wrap)
    }

    & form {
        & .check {
            @include buttons();

        }

    }

}

.intro__text {
    width: 60%;

    & h1 {
        font-size: 70px;
        width: 100%;
        font-weight: 700;
        font-family: $anybody;
        color: $text-color;
        margin: 30px 0;
    }

    & .span {
        @include dflex(center, center, nowrap);
        width: 500px;
        height: 120px;
        background-color: rgba(227, 249, 231, 1);
        border: 5px solid $btn-color;

        & h2 {
            font-size: 60px;
            font-weight: 700;
            font-family: $anybody;
            color: $text-color;
        }
    }

    & p {
        @include p();
        width: 70%;
        line-height: 40px;
        margin: 20px 0;

    }


}

.intro__img {
    & img {
        position: absolute;
        top: 50px;
        right: 100px;
        top: 50px;
        z-index: -99;
        width: 45%;

        // object-fit: contain;
    }
}

.sponsor {
    width: 100%;
    height: 100px;
    background-color: rgba(227, 249, 231, 1);
    @include dflex(center, center, nowrap);

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


}


.how__works {
    width: 100%;
    height: 80vh;
}

.how__header {
    @include dflex(center, center, wrap);
    width: 100%;
    height: 100px;
    margin: 100px 0;

    & h1 {
        font-size: 54px;
        font-weight: 700;
        color: $text-color;
        font-family: $anybody;
        text-align: center;

    }

    & p {
        @include p();
        width: 90%;
    }
}

.cards {
    height: 400px;
}

.card {
    border: none;

    & p {
        @include p();
        font-size: 18px;
        margin: 10px 0;
        text-align: center
    }

    & h2 {
        text-align: center;
        font-size: 24px;
        font-family: $anybody;
        color: $text-color;

    }
}

.card__img {
    @include dflex(center, center, wrap);
    width: 150px;
    height: 150px;
    background-color: $btn-color;
    border-radius: 20px;
    margin-top: 30px;

    & .bi {
        font-size: 64px;
    }
}

.trucking {
    width: 100%;
    height: 80vh;
}

.trucking__content {
    height: 100%;
    margin-top: 150px;
    @include dflex(space-between, center, wrap);

    & img {
        width: 100%;
    }
}

.truck__text {

    & h1 {
        font-family: $anybody;
        font-size: 40px;
        color: $text-color;
        font-weight: 600;
        margin: 40px 0;
    }

    & p {
        @include p();
        font-size: 18px;
    }

    & button {
        background-color: $btn-color;
        color: white;
        margin: 50px 0;
    }
}

.our__special {
    width: 100%;
    height: 70vh;
}

.our__card {
    border: none;
    margin-top: 100px;

    & h5 {
        font-family: $anybody;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }

    & p {
        text-align: start;
        font-size: 16px;
    }

    & .bi {
        font-size: 64px;
        color: rgba(54, 255, 47, 0.411);

    }
}