// Mixins ==============

$btn-color: rgba(60, 189, 150, 1);
$anybody: 'Anybody', cursive;
$red-hat: 'Red Hat Text', sans-serif;
$text-color: rgba(32, 73, 69, 1);

@mixin buttons {
    background-color: $btn-color;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 10px;
}

@mixin dflex($jcc, $aic, $fwrap) {
    display: flex;
    justify-content: $jcc;
    align-items: $aic;
    flex-wrap: $fwrap;


}

@mixin p {
    font-size: 25px;
    opacity: .7;
    font-family: $red-hat;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $anybody;
    color: $text-color;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}
.top__sprite{
        width: 35%;
    
}

.bottom__sprite{
    bottom: 0;
    position: absolute;
    width: 40%;
}
//  Navbar ===============
nav {
    & img {
        width: 15%;
        height: 100%;
    }
}

.navbar_button {
    @include buttons();

}

// Intro ==============

.intro {
    width: 100%;
    height: 90vh;
    margin: 100px 0;

    & .container {
        height: 100%;

        @include dflex(start, center, wrap)
    }

    & form {
        & .check {
            @include buttons();

        }

    }

}

.intro__text {
    width: 60%;

    & h1 {
        font-size: 70px;
        width: 100%;
        margin: 30px 0;
    }

    & .span {
        @include dflex(center, center, nowrap);
        width: 500px;
        height: 120px;
        background-color: rgba(227, 249, 231, 1);
        border: 5px solid $btn-color;

        & h2 {
            font-size: 60px;
        }
    }

    & p {
        @include p();
        width: 70%;
        line-height: 40px;
        margin: 20px 0;

    }


}

.intro__img {
    & img {
        position: absolute;
        top: 50px;
        right: 100px;
        top: 50px;
        z-index: -99;
        width: 45%;
    }
}

// Sponsor ===============

.sponsor {
    width: 100%;
    height: 100px;
    background-color: rgba(227, 249, 231, 1);
    @include dflex(center, center, nowrap);

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


}

// How works ==============
.how__works {
    width: 100%;
    height: 80vh;
}

.how__header {
    @include dflex(center, center, wrap);
    width: 100%;
    height: 100px;
    margin: 100px 0;

    & h1 {
        font-size: 54px;
        text-align: center;

    }

    & p {
        @include p();
        width: 90%;
    }
}

.cards {
    height: 400px;
}

.card {
    border: none;

    & p {
        @include p();
        font-size: 18px;
        margin: 10px 0;
        text-align: center
    }

    & h2 {
        text-align: center;
        font-size: 24px;

    }
}

.card__img {
    @include dflex(center, center, wrap);
    width: 150px;
    height: 150px;
    background-color: $btn-color;
    border-radius: 20px;
    margin-top: 30px;

    & .bi {
        font-size: 64px;
    }
}

// Trucking ===============
.trucking {
    width: 100%;
    height: 80vh;
    position: relative;
}
.truck__sprite{
    width: 30%;
    position: absolute;
    z-index: -99;
    top: 100px;
}
.truck__sprite_2{
    width: 13%;
    position: absolute;
    right: 0;
    top: -200px;
}
.trucking__content {
    height: 100%;
    margin-top: 150px;
    @include dflex(space-between, center, wrap);

    & img {
        width: 100%;
    }
}

.truck__text {

    & h1 {
        font-size: 40px;
        margin: 40px 0;
    }

    & p {
        @include p();
        font-size: 18px;
    }

    & button {
        background-color: $btn-color;
        color: white;
        margin: 50px 0;
    }
}

// Our Specialists ==============
.our__special {
    width: 100%;
    height: 70vh;
    margin-top: 200px;
}

.our__card {
    border: none;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(102, 230, 247, 0.548);
    padding: 50px 30px;
    border-radius: 20px;

    & h5 {
        font-size: 24px;
        line-height: 24px;
        color: black;
    }

    & p {
        text-align: start;
        font-size: 16px;
    }

    & .bi {
        font-size: 64px;
        color: rgba(54, 255, 47, 0.411);

    }
}

// Calculator ============
.calculator {
    width: 100%;
    height: 600px;
    background-color: rgba(227, 249, 231, 1);
    border-radius: 50px;
    padding: 50px 80px;
    position: relative;
    margin: 150px 0 50px 0 ;

}

.calculator__text {

    & h1 {
        font-size: 48px;
        margin-bottom: 30px;

    }

    & p {
        @include p();
        font-size: 24px;
    }

    & img {
        width: 25%;
        position: absolute;
        bottom: 0;
    }
}

.calculator__form {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;

    & h1 {
        font-size: 28px;
        color: black;
    }
}

.form__header {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: $btn-color;
    @include dflex(center, center, nowrap);

    & .bi {
        font-size: 48px;
        color: white
    }
}

// Follow =================
.follow {
    width: 100%;
    height: 600px;
    @include dflex(center, center, wrap);
    position: relative;
}


.follow__text {
    @include dflex(start, center, nowrap);

    & p {
        @include p();
        font-size: 18px;
        margin: 40px 0;
    }

    & button {
        background-color: $btn-color;
        color: white;
    }
}

.follow__img {
    & img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
    }
}

// Costumer ==============
.costumer__header {
    & h1 {
        text-align: center;
        margin: 50px 0;
    }

    & p {
        @include p();
        font-size: 24px;
        text-align: center;
        margin-bottom: 100px;
    }
}

.accordion-button {
    background: linear-gradient(90deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
}


.costumer__content {
    @include dflex(center, center, wrap);
    padding: 0 100px;
    margin: 0 auto;
    background-color: #E3F9E7;

    & .bi-quote {
        color: $text-color;
        font-size: 108px;
    }

    & p {
        @include p();
        text-align: center;
        margin: 50px 0;
    }
}


//  Footer
footer {
    & p {
        @include p();
        font-size: 18px;
        line-height: 50px;
    }

    & .btn {
        background-color: $btn-color;
        color: white;
    }
}

.copyright {
    border-top: 5px dotted grey;
    padding: 30px 0;
    & .col-3{
        @include dflex(space-between, center, wrap);
    }

    & .bi {
        font-size: 28px;
        margin-left: 10px;
        opacity: .7;
    }
}