body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    font-size: 15px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
}
.top{
    width: calc(100% - 10px);
    height: 15%;
    background-color: #da1fab;
    border: 5px solid #504e4e;    
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
   
}
.box{
    border: 5px solid #504e4e;  
}

.box:first-child{
    width: calc(40% - 10px);
    height: calc(40% - 10px );
    background-color: #199155;
}

.box:nth-child(2){
    width: calc(60% - 10px);
    height: calc(50% - 10px);
    background-color: #9610a8;
}

.box:nth-child(3){
    width: calc(40% - 10px);
    height: calc(45% - 10px );
    background-color: #76e97f;
}
.box:nth-child(4){
    width: calc(60% - 10px);
    height: calc(30% - 10px);
    background-color: #d4f3d7;
}

.related{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    
}
.rel:first-child{
    
    width: calc(70% - 10px);
    height: 100%;
    background-color: #178608;
    border: 5px solid #504e4e;
    
}
.rel:last-child{
    height: 100%;
    width: calc(30% - 10px);
    background-color: #f0a0e5;
    border: 5px solid #504e4e;
    
}
.footer{
    width: calc(100% - 10px);
    height: 15%;
    background-color: #db9e2b;
    border: 5px solid #504e4e;
}