body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}

/* ====== Header ======= */
.header {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 120vh;

}

.background {
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    background: rgb(244, 208, 221);
    background: linear-gradient(90deg, rgba(244, 208, 221, 1) 29%, rgba(255, 255, 255, 1) 77%);

}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 0;
}

button {
    width: 140px;
    height: 50px;
    color: white;
    background-color: #ee5514;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 100px;

}

.navbar {
    position: absolute;
    left: 200px;
}

.navbar a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.2s;
}

.navbar a:hover {
    color: #EE5514;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 80vh;

}

.header__text {
    width: 40%;
}

.header__text h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 64px;
    line-height: 120%;
    font-weight: 550;
}

span {
    color: #EE5514;
}

.header__text p {
    font-size: 16px;
    line-height: 160%;
    font-family: 'Open Sans', sans-serif;
}


.header__img {
    width: 38%;
    height: 70%;
    border: 10px solid rgba(238, 85, 20, .7);
    position: relative;
}

.header__img img {
    width: 180%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -55%;

}

.order {
    position: absolute;
    bottom: -27%;


    width: 70%;
    height: 100px;
    background-color: #fff;
}

.order img {
    margin: 0 20px;
}

.order__option {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 10%;
}

.order__case p {
    opacity: .7;
    margin-bottom: 20px;

}

/* ====== Video ======= */

.video {
    width: 90%;
    height: 90vh;

}

.vicard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


}

.vicard__text {
    width: 30%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;


}

.vicard__text p {
    font-size: 20px;
    opacity: .5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.vicard__text h3 {
    color: #EE5514;
    font-size: 20px;
    margin-top: 10%;
    width: 100%;

}

.vicard__text h1 {

    font-size: 44px;

    width: 100%;

}

.vicard__img {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.vicard__img img:first-child {
    width: 60%;

    z-index: 2;
}

.vicard__img img:last-child {
    position: absolute;
    width: 10%;
    top: 35%;
    left: 43%;
    z-index: 3;
}

.vicard__img img:nth-child(2) {
    position: absolute;
    width: 60%;
    z-index: 1;
    top: -15%;
    right: 12%;


}

/* ===== Feature ===== */
.feature {
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.feature__header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;



}

.feature__header h3 {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #EE5514;

}

.feature__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
}

.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70%;
    width: 30%;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    text-align: center;
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 42%;
    border-radius: 50%;
    background-color: rgba(109, 202, 255, 0.315);
    margin: 15px;
}

.card__img img {
    width: 50%;
    height: 50%;
    /* object-fit: cover; */
}

.card1 h2 {
    font-size: 28px;

}

.card1 p {
    opacity: .7;
    font-size: 16px;
    line-height: 25px;

}

.card1 a {
    color: #EE5514;
    text-decoration: none;
    

}

.card1:hover {
    background-color: #f5d5db;
}

/* ===== Gallery ===== */

.gallary {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 90%;
    height: 80vh;
    position: relative;
}

.gallary__header {
    display: block;
    width: 100%;
    height: 150px;
    margin: 40px 0;


}

.gallary__header h3 {
    margin: 20px 0;
    color: #EE5514;
}

.gallary__categories {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 20px 0; 
}

.gallary__categories::before{
    content: "Categorise:";
    opacity: .7;
    font-size: 20px;
    margin-right: 20px;
}

.gallary__categories a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    opacity: .5;
}

.gallary__categories a:hover{
    color: #EE5514;

}



.gallary__categories a:hover::after{

    width: 100%;
    height: 1px;
    color: #EE5514;

}

.gallary__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.card2{
    display: block;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    width: 25%;
    height: 60vh;
    position: relative;
}

.card2__img{
    width: 100%;
    height: 40%;   
}

.card2__img img{
    width: 90%;
    height: 100%;
    

    
}

.card2 h2{
    font-size: 22px;
    color: black;
    margin: 20px 0;

}
.card2 p,h3{
    font-size: 16px;
    color: black;
    margin: 20px 0;
    opacity: 0.5;   

}

.card2 h3::before{
    content: "Size:";
    font-size: 16px;
    color: #4b4b4b;
    margin-right: 8%;
}
.card2 p::before{
    content: "Price:";
    font-size: 16px;
    color: #4b4b4b;
    margin-right: 8%;
}

.card2 button {
    position: absolute;
    left: .5%;
}




