body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;

}
h1{
    font-size: 25px;
    opacity: .7;
}
h2{
    font-size: 20px;
    opacity: 0.7;
}
h3{
    text-align: right;
    opacity: 0.5;
}

.container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
}
.icon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    box-shadow: none;

}

.box1,.box2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    
}
.box1{
    display: flex;
    


}
img{
    width: 100%;
    height: 60%;
    border-radius: 3px;
    box-shadow: 2px 1px 10px gray;
}

.main{
    padding-right: 30px;
    width: calc(50% - 30px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
}
.main2{
    width: 50%;
    height: 100%;
    display: flex;


}

.card2{
    width: 100%;
    height: 25%;
}
.card2__img1{
    width: 25%;
    height: 100%;
}
.card2__img2{
    width: 100%;
    height: 20%;
    box-shadow: 2px 1px 10px gray ;
}
.card2__content2{
    width: 75%;
    height: 20%;
}
.adobe{
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 40px 0 10px 0;
    
    
}
.card__inner{
    width: 70%;
}
.data{
    width: 30%;
}