@media (max-width: 425px) {
  .cont {
    width: 90%;
    margin: 0 auto;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile img {
    width: 70px;
    object-fit: contain;
  }
  .mobile ul {
    position: absolute;
    top: -200px;

    background-color: #213342;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile .image {
    width: 50px;
    object-fit: cover;
  }
  .line {
    width: 22px;
    height: 1px;
    margin-top: 5px;
    background-color: black;
  }
  .box:hover ~ .ishla {
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
