body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


.box {
    display: flex;
    align-items: center;

    width: 450px;
    height: 300px;
    background-color: #fff;
    margin: 50px auto;
    position: relative;

}

.charg {
    width: 20px;
    height: 40px;
    background-color: black;
    animation-name: charging;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 200px;
    background-color: black;
    border-radius: 30px;
    position: absolute;
    left: 150px;
}

.button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
}
.battery {
    width: 60%;
    height: 60%;
    background-color: #fff;
    z-index: 2;
}

.charg__end{
    width: 20px;
    height: 40px;
    background-color: #fff;
}

.energy{
    width: 20px;
    height: 100%;
    background-color: #ac0909;
    animation-name: energy;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes charging {
    0%{
        width: 20px;
        height: 40px;

    }
    100%{
        width: 200px;
    }
    
}
@keyframes energy {
    0%{
        

    }
    50%{
        background-color: #ac0909;
        width: 40px;
    }
    75%{
        width: 100px;
        background-color: yellow;
    }
    100%{
        width: 100%;
        background-color: green;
    }
    
}




