body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #47a2d6;
    text-align: center;
    
}

h1{
    font-size: 20px;
    color: #fff;
}

.top{
    width: 98%;
    height: 9%;
    background-color: #3adf6b;
    border: 5px solid #47a2d6;

}
.nav{
    width: 98%;
    height: 9%;
    background-color: #18c435;
    border: 5px solid #47a2d6;

}

.main{
    width: 100vw;
    height: 68%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box:first-child{
    width: 33%;
    height: 98%;
    background-color: #1e7a26;
    border: 5px solid #47a2d6;
}

.box:nth-child(2){
    width: 63%;
    height: 100%;
    
}
.box1{
    width: 100%;
    height: 48%;
}
.box1:first-child{
    width: 100%;
    height: 48%;
    background-color: #4a78db;
    border: 5px solid #47a2d6;

}
.box1:last-child{
    width: 100%;
    height: 48%;
    background-color: #193c86;
    border: 5px solid #47a2d6;

}

.foot{
    width: 98%;
    height: 9%;
    background-color: #3adf6b;
    border: 5px solid #47a2d6;
}